[submodule "src/backend/vk/3rd-party/vma"]
	path = src/backend/vk/3rd-party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "src/backend/vk/3rd-party/volk"]
	path = src/backend/vk/3rd-party/volk
	url = https://github.com/zeux/volk.git
[submodule "src/backend/vk/3rd-party/Vulkan-Headers"]
	path = src/backend/vk/3rd-party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git

[submodule "demo/glfw"]
	path = demo/glfw
	url = https://github.com/glfw/glfw.git
[submodule "demo/glm"]
	path = demo/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/backend/dx12/3rd-party/D3D12MemoryAllocator"]
	path = src/backend/dx12/3rd-party/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "src/backend/vk/3rd-party/dxil-spirv"]
	path = src/backend/vk/3rd-party/dxil-spirv
	url = https://github.com/HansKristian-Work/dxil-spirv.git
